<div class="groups-center-box fadein">
    <div class="groups-element-list">
        <div class="payment-name-outline-box" ng-click="vm.goToGroupContext(vm.group.id)">
            <div class="payment-name-title">
                <circle-letter text="vm.groupParams.name" size="'big'"></circle-letter>
                <span>{{vm.groupParams.name}}</span>
            </div>
        </div>
        <div class="payment-element element-hover" ng-repeat="payment in vm.payments" ng-click="vm.goToPaymentDetails(payment)">

            <div class="payment-info-box">
                <div class="payment-date">
                    <span>{{payment.date}}</span>
                </div>
                <div class="payment-buttons">
                    <span class="button-circle button-circle-red element-hover" ng-click="vm.removePayment(payment)">-</span>
                </div>
            </div>

            <div class="payment-payment-box">
                <div class="payment-name">
                    <circle-letter text="payment.payerName" size="'small'"></circle-letter>
                    <span class="vertical-center">{{payment.name}}</span>
                </div>

                <div class="payment-amount">
                    <span>{{payment.amount}}PLN</span>
                </div>
            </div>

            <div class="payment-members-box">

                <div class="payer-column">
                    <span>{{payment.payerName}} payed for: </span>
                </div>
                <div class="loaners-column">
                    <div ng-repeat="loanerName in payment.loanersNameList">
                        <circle-letter text="loanerName" size="'xs'" background="'grey'"></circle-letter>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-element">
        <div class="gradient-box">

        </div>
        <div class="add-button" ng-click="vm.goToAddNewGroup()">
            <span>+</span>
        </div>
    </div>
</div>
