.home-login {
    height: 45vh;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.home-login .app-title {
    display: flex;
    font-family: 'Roboto';
    font-size: 54px;
    font-weight: 300;
}

.home-login .app-title .text-margin {
    margin-top: 5px;
}

.home-login .app-title .gold {
    font-weight: 500;
    background-color: gold;
    border-radius: 10px;
    padding: 5px 10px;
    color: white;
    margin: 0 10px 0 3px;
    -webkit-box-shadow: 3px 3px 4px -2px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 3px 3px 4px -2px rgba(0, 0, 0, 0.41);
    box-shadow: 3px 3px 4px -2px rgba(0, 0, 0, 0.41);
}

.home-login .button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}

.home-login .button-box {
    display: flex;
}

.home-login .home-btn {
    margin-right: 15px;
}

.register-info {
    display: flex;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 300;
    margin-top: 30px;
}

.register-info .register-button {
    color: #2c7be5;
    cursor: pointer;
}

.register-info .register-button:hover {
    font-weight: 400;
}

.logout-box {
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.logout-box .icon-logout {
    font-size: 12px;
    margin-bottom: 5px;
    margin-left: 4px;
}
