.fadein {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.groups-center-box {
    margin: auto;
    width: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.groups-element-list {
    overflow-x: scroll;
    height: 88vh;
    padding: 10px 10px 12vh 10px;
    position: relative;
}

.groups-element-list::-webkit-scrollbar {
    display: none;
}

.element-hover {
    transition: 0.3s;
}

.element-hover:hover{
    transform: scale(1.03);
}

.group-element {
    width: 400px;
    height: 125px;
    padding: 10px 10px;
    margin-top: 30px;
    font-family: 'Roboto';
    color: black;
    display: flex;
    /*transition: 0.3s;*/
    flex-direction: column;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffffff;
    -webkit-box-shadow: 3px 3px 4px -2px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 3px 3px 4px -2px rgba(0, 0, 0, 0.41);
    box-shadow: 3px 3px 4px -2px rgba(0, 0, 0, 0.41);
}

.group-element-auto-high {
    height: auto;
}

.group-element:hover {
    /*transform: scale(1.03);*/
}

.group-name {
    color: black;
    font-weight: 100;
    font-size: 42px;
    display: flex;
    font-family: 'Roboto';
    flex-direction: row;
}

.member-name-small {
    color: black;
    font-weight: 100;
    font-size: 26px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.group-members-box {
    color: #979797;
    font-size: 20px;
    margin-top: 42px;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer-element {
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.gradient-box {
    width: 450px;
    position: absolute;
    top: -78px;
    height: 100px;
    z-index: 10;
    background: rgb(229,229,229);
    background: linear-gradient(0deg, rgba(229,229,229,1) 50%, rgba(149,75,75,0) 100%);
}

.add-button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #2c7be5;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    color: #e5e5e5;
    -webkit-box-shadow: 3px 3px 4px -2px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 3px 3px 4px -2px rgba(0, 0, 0, 0.41);
    box-shadow: 3px 3px 4px -2px rgba(0, 0, 0, 0.41);
    transition: 0.3s;
    cursor: pointer;
}

.add-button .add-button-xs {
    width: 40px;
    height: 40px;
    font-size: 18px;
    z-index: 40;
}

.hide-block-with-buttons {
    width: 150px;
    height: 110px;
    bottom: 10px;
    left: calc(50% - 75px);
    display: none;
    position: absolute;
}

.hide-block-with-buttons:hover .hide-block-with-buttons {
    display: block;
}

.add-button-with-elements {
    position: relative;
}

.add-button-with-elements:hover .hide-block-with-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.add-button:hover {
    transform: scale(1.08);
}

.elem-input:focus {
    border: 1px solid #979797;
}

.align-right {
    margin-left: auto;
}

.elem-button-outline {
    color: #2c7be5;
    background-color: rgba(127, 255, 212, 0);
    border: 2px solid #2c7be5;
    font-weight: 400;
    transition: 0.3s;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    cursor: pointer;
    font-family: 'Roboto';
}

.elem-button-outline:hover {
    background-color: #f5f2f0;
}


.btn-small {
    width: 100px;
    height: 40px;
    font-size: 18px;
    padding: 0 10px;
}

.margin-15-px {
    margin-top: 15px;
}

.move-to-right {
    align-self: flex-end;
}

.button-circle {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    margin-left: auto;
}

.button-circle-red {
    background-color: #cb0d14;
}

.reset-glyphicon {
    margin-left: 2px;
    margin-top: 2px;
}

.glyphicon-icon-size-cirlce-button {
    font-size: 25px;
}

.settleDebt .group-element {
    height: 100px !important;
}

.settle-debt-box {
    display: flex;
    flex-direction: column;
}

.settle-debt-box .settle-row-top {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin-bottom: 16px;
}

.settle-debt-box .settle-row-bottom {
    display: flex;
    flex-direction: row;
    flex-basis: 100%
}

.settle-debt-box .settle-row-top .settle-column {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
}

.settle-debt-box .settle-row-top .settle-column .amount {
    font-size: 30px;
    font-weight: 200;
}

.settle-debt-box .settle-row-bottom .settle-column {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-basis: 100%;
    justify-content: center;
    position: relative;
}

.settle-debt-box .circle-letter {
    margin-right: 0 !important;
}

.settle-column .arr-line {
    background-color: #cdcbcb;
    width: 100%;
    height: 2px;
}
.settle-column .arr-line-top {
    background-color: #cdcbcb;
    width: 25px;
    height: 2px;
    position: absolute;
    right: -3px;
    top: 0px;
    transform: rotate(35deg);
}
.settle-column .arr-line-bottom {
    background-color: #cdcbcb;
    width: 25px;
    height: 2px;
    position: absolute;
    right: -3px;
    top: 14px;
    transform: rotate(-35deg);
}

