<div class="groups-center-box">
    <div class="groups-element-list">

        <section-title upper="'login.title'"></section-title>


        <easy-input name="'field_name'" input-model="vm.username"
                    label="'login.nameLabel'"
                    placeholder="'login.namePlaceholder'"></easy-input>

        <easy-input name="'field_member_name'" input-model="vm.password"
                    label="'login.passwordLabel'"
                    type="'password'"
                    placeholder="'login.passwordPlaceholder'"></easy-input>

        <div class="align-right elem-button-outline btn-small move-to-right margin-15-px"
             ng-click="vm.login($event)">
            {{'login.buttonLogin' | translate}}</span>
        </div>

        <div class="register-info">
            <span>{{'login.question' | translate}}</span><span class="register-button" ng-click="vm.register()">&nbsp;{{'login.registerButton' | translate}}</span>
        </div>

    </div>
</div>
