<div class="change-language-box">
    <div class="change-language-inside">
        <span class="language-elem"
              ng-repeat="lang in vm.languages"
              ng-click="vm.changeLanguage(lang.value)"
              ng-class="{ 'active-language': (vm.settedLang == lang.value) }">
            {{lang.name}}
        </span>
    </div>
</div>

<div class="groups-center-box fadein">
    <div class="home-login">

        <div class="app-title">
            <span class="text-margin">Easy</span>
            <span class="gold">Settle</span>
            <span class="text-margin"> App</span>
        </div>


        <div class="button-row">
            <div class="button-box">
                <div class="elem-button-outline btn-big home-btn primary-button"
                     ng-click="vm.goToLogin()">
                    {{'home.login' | translate}}
                </div>
                <div class="elem-button-outline btn-big primary-button"
                     ng-click="vm.goToRegister()">
                    {{'home.register' | translate}}
                </div>
            </div>
        </div>
    </div>
</div>
