<div class="groups-center-box">
    <div class="groups-element-list">

        <section-title upper="'Group balance'" down="vm.group.name"></section-title>
        <members-balance members="vm.members"></members-balance>
    </div>
    <div class="footer-element">
        <div class="gradient-box">

        </div>
        <div class="add-button add-button-with-elements">
            <div class="hide-block-with-buttons">
                <div class="add-button add-button-xs" ng-click="vm.goToSettlement()">
                    <span class="glyphicon glyphicon-usd"></span>
                </div>
                <div class="add-button add-button-xs" ng-click="vm.goToTransactionsList()">
                    <span class="glyphicon glyphicon-list"></span>
                </div>
                <div class="add-button add-button-xs" ng-click="vm.goToGroupSettings()">
                    <span class="glyphicon glyphicon-cog"></span>
                </div>
            </div>
            <span>+</span>
        </div>
    </div>
</div>
