<div>
    <div ng-repeat="member in vm.members">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <span>{{member.name}}</span>
            </div>
            <div class="col-md-8 col-lg-8">
                <span>{{member.balance}}</span>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" ng-click="vm.goToAddNewPayment()">
        <span class="glyphicon glyphicon-plus"></span>
        <span>Dodaj nowa platnosc</span>
    </button>

    <button class="btn btn-primary" ng-click="vm.goToTransactionsList()">
        <span class="glyphicon glyphicon-plus"></span>
        <span>Przejdz do platnosci</span>
    </button>

    <button class="btn btn-primary" ng-click="vm.goToSettlement()">
        <span class="glyphicon glyphicon-plus"></span>
        <span>Rozlicz!</span>
    </button>
</div>
