<div class="groups-center-box">
    <div class="groups-element-list">

        <section-title upper="'Create group'"></section-title>


        <easy-input name="'field_name'" input-model="vm.groups.name"
                    label="'easySettleApp.groups.create.groupName'"
                    placeholder="'easySettleApp.groups.create.groupName'"></easy-input>

        <easy-input name="'field_member_name'" input-model="vm.groups.memberName"
                    label="'easySettleApp.groups.create.memberName'"
                    placeholder="'easySettleApp.groups.create.memberName'"></easy-input>

        <div class="align-right elem-button-outline btn-small move-to-right margin-15-px"
             ng-click="vm.addMemberToGroup()">
            {{'easySettleApp.groups.create.addButton' | translate}}</span>
        </div>

        <div class="group-element group-element-auto-high" ng-repeat="member in vm.memberList">
            <div class="member-name-small">
                <circle-letter text="member.name" size="'small'"></circle-letter>
                <span>{{member.name}}</span>
                <span class="button-circle button-circle-red element-hover" ng-click="vm.removeMember($index)">-</span>
            </div>
        </div>
    </div>
    <div class="footer-element">
        <div class="gradient-box">

        </div>
        <div class="add-button" ng-click="vm.goToAddNewGroup()">
            <span class="glyphicon glyphicon-floppy-disk reset-glyphicon glyphicon-icon-size-cirlce-button"></span>
        </div>
    </div>
</div>
