<div class="groups-center-box fadein">
    <div class="groups-element-list">

        <section-title upper="'Groups list'"></section-title>

        <div class="group-element element-hover" ng-repeat="group in vm.groups" ng-click="vm.goToGroupContext(group)">
            <div class="group-name">
                <circle-letter text="group.name" size="'big'"></circle-letter>
                <span>{{group.name}}</span>
            </div>
            <div class="group-members-box">
                <span>{{group.membersName}}</span>
            </div>
        </div>
    </div>
    <div class="footer-element">
        <div class="gradient-box">

        </div>
        <div class="add-button" ng-click="vm.goToAddNewGroup()">
            <span>+</span>
        </div>
    </div>
</div>
