<div class="member-balance-component fadein">
    <div class="border-line"></div>
    <div class="row-box" ng-repeat="item in members">
        <div class="sizing-elem" id="member__{{item.id}}" ng-class="{ 'move-left': (item.balance > 0), 'move-right': (item.balance < 0), 'move-center': (item.balance == 0)}">
            <div class="info-section">
                <div class="name-section">
                    <circle-letter text="item.name" size="'xs'" background="'gray'"></circle-letter>
                    <span class="name">{{item.name}}</span>
                </div>
                <div class="amount-section">
                    <span class="amount">{{item.balance}} PLN</span>
                </div>
            </div>
        </div>
    </div>
</div>
